.App {
  text-align: center;
  background-color: #7BD3EA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 2vmin);
  color: #FBFBFB;
}

.nhHeading{
  font-size: calc(20px + 2vmin);
}

.hList{
   padding: 10px;
  border-bottom: 1px solid #ddd;
  border: 2px solid #FBFBFB; /* Add a border around each item */
  border-radius: 8px; /* Optional: Add rounded corners */
  margin-bottom: 10px; /* Add spacing between items */
  background-color: #ffffff; /* Optional: Add a background color */
  color: #000000;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
